@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    background-color: #282a36;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .buttons {
        margin: 1em 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 1em;
        * {
            font-size: 1em;
            min-width: fit-content;
            width: 32%;
        }
        .settings {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            input {
                width: auto;
                min-width: fit-content;
            }
        }
    }
}

.leaflet-container {
    height: 100%;
}

input {
    position: relative;
    padding: 1em;
    background-color: transparent;
    color: white;
    border-radius: 1em;
    outline: none;
    border: 1px solid #82d8eb;
    transition: all 200ms ease-in-out;
}

input:hover {
    font-weight: bold;
    box-shadow: 0 0 1em #82d8eb;
}